In [1]:
import pandas as pd

In [2]:

data_original=pd.read_csv("002 flight-price.csv")
data=data_original.copy()

In [3]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [4]:
data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
data[data.duplicated()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
683,Jet Airways,1/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,14:35,04:25 02 Jun,13h 50m,2 stops,No info,13376
1061,Air India,21/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,22:00,19:15 22 May,21h 15m,2 stops,No info,10231
1348,Air India,18/05/2019,Delhi,Cochin,DEL → HYD → BOM → COK,17:15,19:15 19 May,26h,2 stops,No info,12392
1418,Jet Airways,6/06/2019,Delhi,Cochin,DEL → JAI → BOM → COK,05:30,04:25 07 Jun,22h 55m,2 stops,In-flight meal not included,10368
1674,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,18:25,21:20,2h 55m,non-stop,No info,7303
...,...,...,...,...,...,...,...,...,...,...,...
10594,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,23:05,12:35 28 Jun,13h 30m,2 stops,No info,12819
10616,Jet Airways,1/06/2019,Delhi,Cochin,DEL → JAI → BOM → COK,09:40,12:35 02 Jun,26h 55m,2 stops,No info,13014
10634,Jet Airways,6/06/2019,Delhi,Cochin,DEL → JAI → BOM → COK,09:40,12:35 07 Jun,26h 55m,2 stops,In-flight meal not included,11733
10672,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,23:05,19:00 28 Jun,19h 55m,2 stops,In-flight meal not included,11150
10673,Jet Airways,27/05/2019,Delhi,Cochin,DEL → AMD → BOM → COK,13:25,04:25 28 May,15h,2 stops,No info,16704

In [6]:
data.drop_duplicates(inplace=True)

In [7]:
data["Dep_Time"].str.isnumeric().sum()
data["Arrival_Time"].str.isnumeric().sum()

0

In [8]:
data["Dep_Time"].unique()

array(['22:20', '05:50', '09:25', '18:05', '16:50', '09:00', '18:55',
       '08:00', '08:55', '11:25', '09:45', '20:20', '11:40', '21:10',
       '17:15', '16:40', '08:45', '14:00', '20:15', '16:00', '14:10',
       '22:00', '04:00', '21:25', '21:50', '07:00', '07:05', '09:50',
       '14:35', '10:35', '15:05', '14:15', '06:45', '20:55', '11:10',
       '05:45', '19:00', '23:05', '11:00', '09:35', '21:15', '23:55',
       '19:45', '08:50', '15:40', '06:05', '15:00', '13:55', '05:55',
       '13:20', '05:05', '06:25', '17:30', '08:20', '19:55', '06:30',
       '14:05', '02:00', '09:40', '08:25', '20:25', '13:15', '02:15',
       '16:55', '20:45', '05:15', '19:50', '20:00', '06:10', '19:30',
       '04:45', '12:55', '18:15', '17:20', '15:25', '23:00', '12:00',
       '14:45', '11:50', '11:30', '14:40', '19:10', '06:00', '23:30',
       '07:35', '13:05', '12:30', '15:10', '12:50', '18:25', '16:30',
       '00:40', '06:50', '13:00', '19:15', '01:30', '17:00', '10:00',
       '19:35', '15:30', '12:10', '16:10', '20:35', '22:25', '21:05',
       '05:35', '05:10', '06:40', '15:15', '00:30', '08:30', '07:10',
       '05:30', '14:25', '05:25', '10:20', '17:45', '13:10', '22:10',
       '04:55', '17:50', '21:20', '06:20', '15:55', '20:30', '17:25',
       '09:30', '07:30', '02:35', '10:55', '17:10', '09:10', '18:45',
       '15:20', '22:50', '14:55', '14:20', '13:25', '22:15', '11:05',
       '16:15', '20:10', '06:55', '19:05', '07:55', '07:45', '10:10',
       '08:15', '11:35', '21:00', '17:55', '16:45', '18:20', '03:50',
       '08:35', '19:20', '20:05', '17:40', '04:40', '17:35', '09:55',
       '05:00', '18:00', '02:55', '20:40', '22:55', '22:40', '21:30',
       '08:10', '17:05', '07:25', '15:45', '09:15', '15:50', '11:45',
       '22:05', '18:35', '00:25', '19:40', '20:50', '22:45', '10:30',
       '23:25', '11:55', '10:45', '11:15', '12:20', '14:30', '07:15',
       '01:35', '18:40', '09:20', '21:55', '13:50', '01:40', '00:20',
       '04:15', '13:45', '18:30', '06:15', '02:05', '12:15', '13:30',
       '06:35', '10:05', '08:40', '03:05', '21:35', '16:35', '02:30',
       '16:25', '05:40', '15:35', '13:40', '07:20', '04:50', '12:45',
       '10:25', '12:05', '11:20', '21:40', '03:00'], dtype=object)

In [9]:
data["Date_of_Journey"]=pd.to_datetime(data["Date_of_Journey"])

/tmp/ipykernel_2608/2212457097.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data["Date_of_Journey"]=pd.to_datetime(data["Date_of_Journey"])

In [10]:
data["Date_of_Journey"]

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10463, dtype: datetime64[ns]

In [11]:
data["Arrival_Time"].unique()

array(['01:10 22 Mar', '13:15', '04:25 10 Jun', ..., '06:50 10 Mar',
       '00:05 19 Mar', '21:20 13 Mar'], dtype=object)

In [12]:
data["Arrival_Time Hours"]=data["Arrival_Time"].str.split(':').str[0]
data["Arrival_Time Minutes"]=data["Arrival_Time"].str.split(':').str[1]
data["Arrival_Time Minutes"]=data["Arrival_Time Minutes"].str.split(' ').str[0]

In [13]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Arrival_Time Hours,Arrival_Time Minutes
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,01,10
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,13,15
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,04,25
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,23,30
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,22,25
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,23,20
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,11,20
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,14,10
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,19,15

In [14]:
data["Arrival_Time Hours"]=data["Arrival_Time Hours"].astype(int)
data["Arrival_Time Minutes"]=data["Arrival_Time Minutes"].astype(int)

In [15]:
cols=list(data.columns)
cols.remove('Arrival_Time Hours')
cols.remove('Arrival_Time Minutes')

pos=cols.index('Arrival_Time')
cols.insert(pos+1,'Arrival_Time Hours')
cols.insert(pos+2,'Arrival_Time Minutes')
data=data[cols]

In [16]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Arrival_Time Hours,Arrival_Time Minutes,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,1,10,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,13,15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,4,25,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,23,30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,21,35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,22,25,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,23,20,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,11,20,3h,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14:10,14,10,2h 40m,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,19,15,8h 20m,2 stops,No info,11753

In [17]:
data.drop("Arrival_Time",inplace=True,axis=1)

/tmp/ipykernel_2608/4190091553.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop("Arrival_Time",inplace=True,axis=1)

In [18]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time Hours,Arrival_Time Minutes,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,1,10,2h 50m,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13,15,7h 25m,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,4,25,19h,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23,30,5h 25m,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21,35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22,25,2h 30m,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23,20,2h 35m,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11,20,3h,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14,10,2h 40m,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19,15,8h 20m,2 stops,No info,11753

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               10463 non-null  object
 1   Date_of_Journey       10463 non-null  datetime64[ns]
 2   Source                10463 non-null  object
 3   Destination           10463 non-null  object
 4   Route                 10462 non-null  object
 5   Dep_Time              10463 non-null  object
 6   Arrival_Time Hours    10463 non-null  int64
 7   Arrival_Time Minutes  10463 non-null  int64
 8   Duration              10463 non-null  object
 9   Total_Stops           10462 non-null  object
 10  Additional_Info       10463 non-null  object
 11  Price                 10463 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 1.0+ MB

In [20]:
data["Duration"].unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

In [21]:
data["Duration"]=data["Duration"].fillna(0)
data["Duration"].unique()

/tmp/ipykernel_2608/2376091091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Duration"]=data["Duration"].fillna(0)

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

In [22]:
data["Duration Hours"]=data["Duration"].str.split(" ").str[0]
data["Duration Minutes"]=data["Duration"].str.split(" ").str[1]

In [23]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time Hours,Arrival_Time Minutes,Duration,Total_Stops,Additional_Info,Price,Duration Hours,Duration Minutes
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,1,10,2h 50m,non-stop,No info,3897,2h,50m
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13,15,7h 25m,2 stops,No info,7662,7h,25m
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,4,25,19h,2 stops,No info,13882,19h,NaN
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23,30,5h 25m,1 stop,No info,6218,5h,25m
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21,35,4h 45m,1 stop,No info,13302,4h,45m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22,25,2h 30m,non-stop,No info,4107,2h,30m
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23,20,2h 35m,non-stop,No info,4145,2h,35m
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11,20,3h,non-stop,No info,7229,3h,NaN
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14,10,2h 40m,non-stop,No info,12648,2h,40m
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19,15,8h 20m,2 stops,No info,11753,8h,20m

In [24]:
data["Duration Hours"]=data["Duration Hours"].str.replace("h","")
data["Duration Minutes"]=data["Duration Minutes"].str.replace("m"," ")

In [25]:
data["Duration Minutes"]=data["Duration Minutes"].fillna(0)

In [26]:
data["Duration Hours"]=data["Duration Hours"].fillna(0)

In [27]:
data.loc[6474,"Duration Minutes"]=5
data.loc[6474,"Duration Hours"]=0

In [28]:
data["Duration Minutes"]=data["Duration Minutes"].astype(int)
data["Duration Hours"]=data["Duration Hours"].astype(int)

In [29]:
cols=list(data.columns)
cols.remove('Duration Hours')
cols.remove('Duration Minutes')

pos=cols.index('Duration')
cols.insert(pos+1,'Duration Hours')
cols.insert(pos+2,'Duration Minutes')
data=data[cols]

In [30]:
data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time Hours,Arrival_Time Minutes,Duration,Duration Hours,Duration Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,1,10,2h 50m,2,50,non-stop,No info,3897
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13,15,7h 25m,7,25,2 stops,No info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,4,25,19h,19,0,2 stops,No info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23,30,5h 25m,5,25,1 stop,No info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21,35,4h 45m,4,45,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22,25,2h 30m,2,30,non-stop,No info,4107
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23,20,2h 35m,2,35,non-stop,No info,4145
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11,20,3h,3,0,non-stop,No info,7229
10681,Vistara,2019-03-01,Banglore,New Delhi,BLR → DEL,11:30,14,10,2h 40m,2,40,non-stop,No info,12648
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19,15,8h 20m,8,20,2 stops,No info,11753

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               10463 non-null  object
 1   Date_of_Journey       10463 non-null  datetime64[ns]
 2   Source                10463 non-null  object
 3   Destination           10463 non-null  object
 4   Route                 10462 non-null  object
 5   Dep_Time              10463 non-null  object
 6   Arrival_Time Hours    10463 non-null  int64
 7   Arrival_Time Minutes  10463 non-null  int64
 8   Duration              10463 non-null  object
 9   Duration Hours        10463 non-null  int64
 10  Duration Minutes      10463 non-null  int64
 11  Total_Stops           10462 non-null  object
 12  Additional_Info       10463 non-null  object
 13  Price                 10463 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(8)
memory usage: 1.4+ MB

In [32]:
data["Total_Stops"]=data["Total_Stops"].str.replace("non-stop","0")

In [33]:
data['Total_Stops']=data['Total_Stops'].str.split(" ").str[0]

In [34]:
data["Total_Stops"]=data["Total_Stops"].fillna(0)

In [35]:
data['Total_Stops']=data['Total_Stops'].astype(int)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               10463 non-null  object
 1   Date_of_Journey       10463 non-null  datetime64[ns]
 2   Source                10463 non-null  object
 3   Destination           10463 non-null  object
 4   Route                 10462 non-null  object
 5   Dep_Time              10463 non-null  object
 6   Arrival_Time Hours    10463 non-null  int64
 7   Arrival_Time Minutes  10463 non-null  int64
 8   Duration              10463 non-null  object
 9   Duration Hours        10463 non-null  int64
 10  Duration Minutes      10463 non-null  int64
 11  Total_Stops           10463 non-null  int64
 12  Additional_Info       10463 non-null  object
 13  Price                 10463 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(7)
memory usage: 1.4+ MB

In [37]:
data["Date_of_Journey"]

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10463, dtype: datetime64[ns]

In [38]:
data["Date_of_Journey"]=data["Date_of_Journey"].astype(str)

In [39]:
data['Year']=data['Date_of_Journey'].str.split("-").str[0]
data['Month']=data['Date_of_Journey'].str.split("-").str[1]
data['Date']=data['Date_of_Journey'].str.split("-").str[2]

In [40]:
cols=list(data.columns)
cols.remove('Year')
cols.remove('Month')
cols.remove('Date')

pos=cols.index('Date_of_Journey')
cols.insert(pos+1,'Date')
cols.insert(pos+2,'Month')
cols.insert(pos+3,'Year')
data=data[cols]

In [41]:
data

,Airline,Date_of_Journey,Date,Month,Year,Source,Destination,Route,Dep_Time,Arrival_Time Hours,Arrival_Time Minutes,Duration,Duration Hours,Duration Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,24,03,2019,Banglore,New Delhi,BLR → DEL,22:20,1,10,2h 50m,2,50,0,No info,3897
1,Air India,2019-05-01,01,05,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13,15,7h 25m,7,25,2,No info,7662
2,Jet Airways,2019-06-09,09,06,2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,4,25,19h,19,0,2,No info,13882
3,IndiGo,2019-05-12,12,05,2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23,30,5h 25m,5,25,1,No info,6218
4,IndiGo,2019-03-01,01,03,2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21,35,4h 45m,4,45,1,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,09,04,2019,Kolkata,Banglore,CCU → BLR,19:55,22,25,2h 30m,2,30,0,No info,4107
10679,Air India,2019-04-27,27,04,2019,Kolkata,Banglore,CCU → BLR,20:45,23,20,2h 35m,2,35,0,No info,4145
10680,Jet Airways,2019-04-27,27,04,2019,Banglore,Delhi,BLR → DEL,08:20,11,20,3h,3,0,0,No info,7229
10681,Vistara,2019-03-01,01,03,2019,Banglore,New Delhi,BLR → DEL,11:30,14,10,2h 40m,2,40,0,No info,12648
10682,Air India,2019-05-09,09,05,2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19,15,8h 20m,8,20,2,No info,11753

In [42]:
data['Date']=data['Date'].astype(int)
data['Month']=data['Month'].astype(int)
data['Year']=data['Year'].astype(int)

In [43]:
data["Dep_Time Hours"]=data["Dep_Time"].str.split(":").str[0]
data["Dep_Time Minutes"]=data["Dep_Time"].str.split(":").str[1]

In [44]:
cols=list(data.columns)
cols.remove('Dep_Time Hours')
cols.remove('Dep_Time Minutes')

pos=cols.index('Dep_Time')
cols.insert(pos+1,'Dep_Time Hours')
cols.insert(pos+2,'Dep_Time Minutes')
data=data[cols]

In [45]:
data["Dep_Time Hours"]=data["Dep_Time Hours"].astype(int)
data["Dep_Time Minutes"]=data["Dep_Time Minutes"].astype(int)

In [46]:
data

,Airline,Date_of_Journey,Date,Month,Year,Source,Destination,Route,Dep_Time,Dep_Time Hours,Dep_Time Minutes,Arrival_Time Hours,Arrival_Time Minutes,Duration,Duration Hours,Duration Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,2019-03-24,24,3,2019,Banglore,New Delhi,BLR → DEL,22:20,22,20,1,10,2h 50m,2,50,0,No info,3897
1,Air India,2019-05-01,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,5,50,13,15,7h 25m,7,25,2,No info,7662
2,Jet Airways,2019-06-09,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,9,25,4,25,19h,19,0,2,No info,13882
3,IndiGo,2019-05-12,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,18,5,23,30,5h 25m,5,25,1,No info,6218
4,IndiGo,2019-03-01,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,16,50,21,35,4h 45m,4,45,1,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,9,4,2019,Kolkata,Banglore,CCU → BLR,19:55,19,55,22,25,2h 30m,2,30,0,No info,4107
10679,Air India,2019-04-27,27,4,2019,Kolkata,Banglore,CCU → BLR,20:45,20,45,23,20,2h 35m,2,35,0,No info,4145
10680,Jet Airways,2019-04-27,27,4,2019,Banglore,Delhi,BLR → DEL,08:20,8,20,11,20,3h,3,0,0,No info,7229
10681,Vistara,2019-03-01,1,3,2019,Banglore,New Delhi,BLR → DEL,11:30,11,30,14,10,2h 40m,2,40,0,No info,12648
10682,Air India,2019-05-09,9,5,2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,10,55,19,15,8h 20m,8,20,2,No info,11753

In [47]:
data.drop(columns={"Date_of_Journey","Duration","Dep_Time"},inplace=True)

In [48]:
data

,Airline,Date,Month,Year,Source,Destination,Route,Dep_Time Hours,Dep_Time Minutes,Arrival_Time Hours,Arrival_Time Minutes,Duration Hours,Duration Minutes,Total_Stops,Additional_Info,Price
0,IndiGo,24,3,2019,Banglore,New Delhi,BLR → DEL,22,20,1,10,2,50,0,No info,3897
1,Air India,1,5,2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,50,13,15,7,25,2,No info,7662
2,Jet Airways,9,6,2019,Delhi,Cochin,DEL → LKO → BOM → COK,9,25,4,25,19,0,2,No info,13882
3,IndiGo,12,5,2019,Kolkata,Banglore,CCU → NAG → BLR,18,5,23,30,5,25,1,No info,6218
4,IndiGo,1,3,2019,Banglore,New Delhi,BLR → NAG → DEL,16,50,21,35,4,45,1,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9,4,2019,Kolkata,Banglore,CCU → BLR,19,55,22,25,2,30,0,No info,4107
10679,Air India,27,4,2019,Kolkata,Banglore,CCU → BLR,20,45,23,20,2,35,0,No info,4145
10680,Jet Airways,27,4,2019,Banglore,Delhi,BLR → DEL,8,20,11,20,3,0,0,No info,7229
10681,Vistara,1,3,2019,Banglore,New Delhi,BLR → DEL,11,30,14,10,2,40,0,No info,12648
10682,Air India,9,5,2019,Delhi,Cochin,DEL → GOI → BOM → COK,10,55,19,15,8,20,2,No info,11753

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10463 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Airline               10463 non-null  object
 1   Date                  10463 non-null  int64
 2   Month                 10463 non-null  int64
 3   Year                  10463 non-null  int64
 4   Source                10463 non-null  object
 5   Destination           10463 non-null  object
 6   Route                 10462 non-null  object
 7   Dep_Time Hours        10463 non-null  int64
 8   Dep_Time Minutes      10463 non-null  int64
 9   Arrival_Time Hours    10463 non-null  int64
 10  Arrival_Time Minutes  10463 non-null  int64
 11  Duration Hours        10463 non-null  int64
 12  Duration Minutes      10463 non-null  int64
 13  Total_Stops           10463 non-null  int64
 14  Additional_Info       10463 non-null  object
 15  Price                 10463 non-null  int64
dtypes: int64(11), object(5)
memory usage: 1.6+ MB

In [50]:
data.to_csv("data/cleanedfully.csv",index=False)

In [51]:
data=pd.read_csv("data/cleanedfully.csv")

In [52]:
data["Route"]=data["Route"].fillna(data["Source"]+ "->" + data["Destination"])

In [53]:
data[data['Route'].isnull()]

Empty DataFrame
Columns: [Airline, Date, Month, Year, Source, Destination, Route, Dep_Time Hours, Dep_Time Minutes, Arrival_Time Hours, Arrival_Time Minutes, Duration Hours, Duration Minutes, Total_Stops, Additional_Info, Price]
Index: []

In [54]:
data.to_csv("data/cleanedfully.csv",index=False)

In [55]:
data[data["Route"].isnull()]

Empty DataFrame
Columns: [Airline, Date, Month, Year, Source, Destination, Route, Dep_Time Hours, Dep_Time Minutes, Arrival_Time Hours, Arrival_Time Minutes, Duration Hours, Duration Minutes, Total_Stops, Additional_Info, Price]
Index: []